<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="<%= @email_campaign.bg_color %>" style="background-color: <%= @email_campaign.bg_color %>;">
  <tr>
    <td align="center" style="padding: 24px 12px;">
      <table role="presentation" width="<%= @email_campaign.max_width %>" cellpadding="0" cellspacing="0" border="0"
             bgcolor="<%= @email_campaign.fg_color %>"
             style="width: 100%; max-width: <%= @email_campaign.max_width %>px; background-color: <%= @email_campaign.fg_color %>; border-radius: 12px;">
        <%= render "header" %>
        <tr>
          <td style="padding: 12px 24px;">
            <%= raw @email_campaign.body_html_with_cid_images(@cid_by_signed_id) %>
          </td>
        </tr>
        <%= render "footer", unsubscribe_url: @unsubscribe_url %>
      </table>
    </td>
  </tr>
</table>
