<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background-color: #ffffff;">
  <tr>
    <td align="center">
      <table role="presentation" width="<%= @email_campaign.max_width %>" cellpadding="0" cellspacing="0" border="0"
             style="width: 100%; max-width: <%= @email_campaign.max_width %>px;">
        <%= render "header" %>
        <tr>
          <td bgcolor="<%= EmailCampaign::BODY_BG %>" style="background-color: <%= EmailCampaign::BODY_BG %>; padding: 24px;">
            <%= raw @email_campaign.body_html_with_cid_images(@cid_by_signed_id) %>
          </td>
        </tr>
        <%= render "footer", unsubscribe_url: @unsubscribe_url %>
      </table>
    </td>
  </tr>
</table>
