<% if flash[:toast].present? %>
  <% toast_data = flash[:toast].is_a?(Hash) ? flash[:toast].with_indifferent_access : { message: flash[:toast] } %>
  <div
    id="flash-toast"
    data-controller="flash"
    data-flash-message-value="<%= toast_data[:message] %>"
    data-flash-type-value="<%= toast_data[:type] || "default" %>"
    data-flash-description-value="<%= toast_data[:description] %>"
  ></div>
<% end %>

<% if flash[:alert].present? %>
  <div id="flash-alert" data-controller="flash" data-flash-message-value="<%= flash[:alert] %>" data-flash-type-value="error"></div>
<% end %>

<% if flash[:notice].present? %>
  <div id="flash-notice" data-controller="flash" data-flash-message-value="<%= flash[:notice] %>" data-flash-type-value="success"></div>
<% end %>
